.products {
  display: grid;
  gap: 20px;
  &__header {
    display: grid;
    gap: 15px;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 1),
    4px 4px 7px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 10px;
  }

  &__filter {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
  }

  &__button {
    display: inline-block;
    padding: 10px 12px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.3);
    }

    &.active {
      background-color: #16b67f;
      color: #fff;
    }
  }

  &__search {
    input {
      border: 1px solid rgba(0, 0, 0, 0.08);
      padding: 15px 15px 15px 50px;
      border-radius: 15px;
      width: 100%;
      font-size: 16px;
      @media (max-width: 600px) {
        font-size: 14px;
      }
    }
  }

  &__items {
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 1),
    4px 4px 7px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
}