.users {
  width: 100%;
  height: 625px;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 40px;
  display: flex;
  flex-direction: column;
  @media (max-width:600px){
    padding: 20px;
  }
  &__search {
    position: relative;

    svg {
      width: 18px;
      height: 18px;
      position: absolute;
      top: 17px;
      left: 20px;
      opacity: 0.3;
      @media (max-width:600px){
        width: 10px;
        height: 10px;
      }
    }
  }

  &__input {
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 15px 15px 15px 50px;
    border-radius: 15px;
    width: 100%;
    font-size: 16px;
    @media (max-width:600px){
      font-size: 14px;
    }
  }
  &__wrapper{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  &__main{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  &__content {
    flex: 1 1 auto;
  }

  &__skeleton-list {
    margin-top: 30px;

    svg {
      margin-bottom: 15px;
    }
  }

  &__users-list {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 30px 0 0 0;
    overflow: auto;
  }

  &__send-invite-btn {
    background-color: rgb(251, 80, 0);
    padding: 16px 15px;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    border: 0;
    outline: none;
    box-shadow: 0 7px 10px rgba(251, 80, 0, 0.4);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    pointer-events: auto;
    &.disabled{
      opacity: 0.5;
      pointer-events: none;
    }
    &:hover {
      background-color: rgb(255, 97, 24);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: none;
    }
  }

}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  & > div {
    display: flex;
  }

  &__action {
    width: 28px;
    height: 28px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__avatar {
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  &__name {
    margin: 5px 0 0 0;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    color: #182170;
  }

  &__mail {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 3px 0 0 0;
    color: rgba(0, 0, 0, 0.5);

    svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;

      path {
        fill: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.success-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  animation: success-show 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25);

  &__image {
    width: 120px;
    height: 120px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  &__text {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__send-invite-btn {
    width: 100%;
    background-color: rgb(251, 80, 0);
    padding: 16px 15px;
    border-radius: 15px;
    font-size: 18px;
    color: #fff;
    border: 0;
    outline: none;
    box-shadow: 0 7px 10px rgba(251, 80, 0, 0.4);
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: rgb(255, 97, 24);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: none;
    }
  }
}

.skeleton-list {
  height: calc(100% - 130px);
  margin-top: 30px;

  svg {
    margin-bottom: 15px;
  }
}

@keyframes success-show {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
