.counter {

  &__title {
    font-size: 9rem;
    padding: 20px 0 30px 0;
  }

  &__btn {
    background: transparent;
    border: 2px solid transparent;
    text-align: center;
    font-size: 22px;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.05s ease-in-out;
    @media (max-width:600px){
      margin-bottom: 10px;
    }
    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: none;
    }

    &_minus {
      background-color: #e63946;
      color: #fff;
      box-shadow: 0 4px 0 darken(#e63946, 10%);
      border: 1px solid darken(#e63946, 15%);
    }

    &_plus {
      background-color: #2a9d8f;
      color: #fff;
      box-shadow: 0 4px 0 darken(#2a9d8f, 10%);
      border: 1px solid darken(#2a9d8f, 15%);
    }
  }
}