.quiz{
  width: 500px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  position: relative;
  &__title{
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  &__list{
    list-style: none;
    padding: 0;

  }
  &__item{
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
  }
}
.result {
  text-align: center;

  &__button {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    border-radius: 30px;
    border: 0;
    padding: 15px 30px;
    font-size: 20px;
    background-color: darken(#ff006e, 3%);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }
  &__title{
    padding: 15px 0 0 0;
  }
  &__image {
    width: 150px;
  }

}

.progress {
  height: 10px;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
  margin-bottom: 25px;

  &__inner {
    height: 100%;
    border-radius: 30px;
    width: 80%;
    background: rgb(18, 231, 48);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
  }
}