.wrapper {
  box-shadow:  inset 2px 2px 5px  #BABECC, inset -5px -5px 10px #FFF;
  border-radius: 15px;
  padding: 50px;
  display: grid;
  flex:  1 1 auto;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 1),
    4px 4px 7px rgba(0, 0, 0, 0.15);
  }

  &__title {
    font-size: 2.5rem;
    color: #556581;
    margin: 0 0 20px 0;
  }

}